/* колір основного тексту #757575 */
/* колір заголовків #212121 */
/* білий #FFFFFF */
/* акцент #2196F3 */
/* пошта та адреса в футері rgba(255, 255, 255, 0.6) */
/* Background #F5F5F5 */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --white-background-color: #ffffff;
  --primary-font-weight: 500;
  --second-font-weight: 700;
  --gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: var(--second-font-weight);
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.page-header {
  border-bottom: 1px solid #ececec;
}
/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* site-nav */
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: var(--second-font-weight);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.main-nav__logo {
  color: #000000;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item {
  position: relative;
}

.site-nav__link--active::after {
  display: inline-block;
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
/* auth-nav */

.auth-nav {
  display: flex;
}
.auth-nav__item {
  display: flex;
}
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}
.auth-nav__link {
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: var(--gradient), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 696px;
  text-transform: uppercase;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.16;
  letter-spacing: 0.06em;
}
.hero__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/* button */

.filter__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-align: center;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
/* advances */
.advances {
  display: flex;
  justify-content: center;
}
.advances__item:not(:last-child) {
  margin-right: 30px;
}

.advances__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.advances__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advences__icons {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* work */
.work {
  display: flex;
  justify-content: center;
}
.work__item:not(:last-child) {
  margin-right: 30px;
}
.work__item {
  position: relative;
}
.work__text {
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  font-weight: var(--second-font-weight);
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  align-items: center;
  justify-content: center;
}
.work__section {
  padding-top: 0px;
}
/* team */
.team {
  display: flex;
  justify-content: center;
}
.team__section {
  background-color: #f5f4fa;
}
.team__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__net-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.team__net-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--white-background-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__net-link:hover,
.team__net-link:focus {
  background-color: var(--accent-color);
}
.team__net-link:hover .team__net-icon {
  fill: var(--white-text-color);
}
.team__net-link:focus .team__net-icon {
  fill: var(--white-text-color);
}
.team__net-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__net-item {
  width: 44px;
  height: 44px;
}
/* clients */
.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  height: 92px;
  width: calc((100% - 60px) / 6);
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: currentColor;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}
/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}
.footer-first__container {
  flex-grow: 1;
}

.footer-contacts__logo {
  color: var(--white-text-color);
}

.footer-contacts__address {
  margin-top: 20px;
}
.footer-contacts__item {
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts__list {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts__maps {
  color: var(--white-text-color);
  text-decoration: none;
}
.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-socials {
  margin-left: 70px;
  margin-right: 0 auto;
}
.footer-socials__title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-socials__item {
  width: 44px;
  height: 44px;
}

.footer-socials__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-socials__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__link:hover,
.footer-socials__link:focus {
  background-color: var(--accent-color);
}
.footer-socials__link:hover .footer-socials__icon {
  fill: var(--white-text-color);
}
.footer-socials__link:focus .footer-socials__icon {
  fill: var(--white-text-color);
}
.footer-socials__icon {
  fill: var(--white-text-color);
}
.footer-form {
  margin-left: 93px;
}
.footer-form__title {
  margin-top: 0px;
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-form__box {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}
.footer-form__input {
  width: 358px;
  padding: 14px 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: initial;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form__button {
  display: flex;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form__icon {
  margin-left: 10px;
}
/* products */
.products {
  display: flex;
  flex-wrap: wrap;
}

.products__item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border-bottom: 1px solid #eeeeee;
}
.products__item:nth-child(3n) {
  margin-right: 0px;
}
.products__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.products__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover,
.products__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: var(--second-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.products__description {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.products__img {
  overflow: hidden;
  position: relative;
}

.products__overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  transform: translateY(100%);
}

.products__overlay-text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  padding: 63px 24px;
  line-height: 1.5;
}

.products__link:hover .products__overlay,
.products__link:focus .products__overlay {
  transform: translateY(0);
}

/* form */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 528px;
  background: var(--white-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.modal__button-close {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover,
.modal__button-close:focus {
  border-color: var(--accent-color);
}
.modal__close-svg {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button-close:hover .modal__close-svg {
  fill: var(--accent-color);
}
.modal__button-close:focus .modal__close-svg {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: var(--second-font-weight);
  color: var(--title-text-color);
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.modal__form-label-name {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}
.modal__form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  margin-top: 10px;
  letter-spacing: 0.01em;
}
.modal__form-field {
  position: relative;
}
.modal__form-comment {
  display: block;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
}

.modal__form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  font-size: 12px;
  line-height: 1.17;
}

.modal__form-input {
  width: 100%;
  padding: 12px 15px 12px 42px;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-input:hover,
.modal__form-input:focus {
  border-color: var(--accent-color);
}

.modal__form-input:hover + .modal__form-icon {
  fill: var(--accent-color);
}
.modal__form-input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.modal__agreement {
  color: var(--accent-color);
  text-decoration: underline;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}
.modal__checkbox-icon {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.modal__checkbox:checked + .modal__checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__button-form {
  display: block;
  margin: 30px auto 0;
  border: none;
  border-radius: 4px;
  padding: 10px 52px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: var(--second-font-weight);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-form:hover,
.modal__button-form:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
