.auth-nav {
  display: flex;
}
.auth-nav__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.auth-nav__link {
  color: var(--primary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  fill: currentColor;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
