.advances {
  display: flex;
  justify-content: center;
}
.advances__item:not(:last-child) {
  margin-right: 30px;
}

.advances__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: var(--second-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.advances__text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advances__icons {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
